In [29]:
import pandas as pd
df= pd.read_csv('netflix.csv')

In [30]:
df.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [31]:
df = df.dropna(subset=['title'])
df['description'] = df['description'].fillna('No description available')
df['age_certification'] = df['age_certification'].fillna('Not Rated')
df['seasons'] = df['seasons'].fillna(0)
df['type'] = df['type'].str.upper()
df['type'].value_counts()
df['release_year'] = df['release_year'].astype(int)
df = df.drop_duplicates()

In [32]:
df.isnull().sum()

id                        0
title                     0
type                      0
description               0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 403
imdb_score              481
imdb_votes              497
tmdb_popularity          90
tmdb_score              310
dtype: int64

In [39]:
df.isnull().sum()

id                      0
title                   0
type                    0
description             0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
content_age             0
dtype: int64

In [40]:
df['content_age'] = 2025 - df['release_year']

In [41]:
df['release_decade'] = (df['release_year'] // 10) * 10
df['release_decade'] = df['release_decade'].astype(str) + 's'

In [42]:
year_type_counts = (
    df.groupby(['release_year', 'type'])
      .size()
      .unstack(fill_value=0)
)
year_type_counts

type          MOVIE  SHOW
release_year
1945              0     1
1954              2     0
1956              1     0
1958              1     0
1959              1     0
...             ...   ...
2018            473   300
2019            525   311
2020            500   314
2021            473   314
2022            200   171

[63 rows x 2 columns]

In [44]:
year_type_counts['movie_tv_ratio'] = (
    year_type_counts['MOVIE'] /
    year_type_counts['SHOW'].replace(0, 1)
)
df = df.merge(
    year_type_counts['movie_tv_ratio'],
    on='release_year',
    how='left'
)

In [45]:
df[['release_year', 'type', 'movie_tv_ratio']].head(10)

   release_year   type  movie_tv_ratio
0          1945   SHOW             0.0
1          1976  MOVIE             3.0
2          1972  MOVIE             2.0
3          1975  MOVIE             2.0
4          1967  MOVIE             2.0
5          1969   SHOW             1.0
6          1979  MOVIE             5.0
7          1971  MOVIE             1.0
8          1967  MOVIE             2.0
9          1980  MOVIE             3.0

In [46]:
df.to_csv("netflix_final_features.csv", index=False)