# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [3]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [4]:
sal = pd.read_csv("Salaries.csv")

C:\Users\adity\AppData\Local\Temp\ipykernel_13572\2865795940.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv("Salaries.csv")

**Check the head of the DataFrame.**

In [16]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [17]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [26]:
sal["BasePay"] = pd.to_numeric(sal["BasePay"], errors="coerce")
float(sal["BasePay"].mean())

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [11]:
cols = ["OvertimePay", "OtherPay", "TotalPay", "TotalPayBenefits", "BasePay"]
sal[cols] = sal[cols].apply(pd.to_numeric, errors="coerce")

float(sal["OvertimePay"].max())

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [29]:
sal.loc[sal["EmployeeName"] == "JOSEPH DRISCOLL", "JobTitle"].values[0]

'CAPTAIN, FIRE SUPPRESSION'

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [34]:
float(sal.loc[sal["EmployeeName"] == "JOSEPH DRISCOLL", "TotalPayBenefits"].values[0])

270324.91

**What is the name of highest paid person (including benefits)?**

In [35]:
sal.loc[sal["TotalPayBenefits"].idxmax(), "EmployeeName"]

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [36]:
sal.loc[sal["TotalPayBenefits"].idxmin(), "EmployeeName"]

'Joe Lopez'

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [12]:
sal.groupby("Year")["BasePay"].mean().round(2)

Year
2011    63595.96
2012    65436.41
2013    69630.03
2014    66564.42
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [37]:
sal["JobTitle"].nunique()

2159

**What are the top 5 most common jobs?**

In [38]:
sal["JobTitle"].value_counts().head(5).to_dict()

{'Transit Operator': 7036,
 'Special Nurse': 4389,
 'Registered Nurse': 3736,
 'Public Svc Aide-Public Works': 2518,
 'Police Officer 3': 2421}

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [39]:
int((sal[sal["Year"] == 2013]["JobTitle"].value_counts() == 1).sum())

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
sal[sal["JobTitle"].str.contains("Chief", case=False, na=False)]["EmployeeName"].nunique()

517

477

**Is there a correlation between length of the Job Title string and Salary?**

In [47]:
float(round(
    sal.assign(title_len=sal["JobTitle"].str.len())
       [["title_len", "TotalPayBenefits"]]
       .corr()
       .iloc[0, 1],
    4
))

-0.0369

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!